<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
</head>
<style>
    .voting-controls {
        display: flex;
        align-items: center;
    }

    .vote-form {
        margin: 0 5px;
    }

    .vote-button {
        border: none;
        background: transparent;
        cursor: pointer;
        color: #007bff;
        /* Bootstrap primary color */
    }

    .vote-count {
        margin: 0 10px;
    }

    .narrower-div {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<body>
    <div class="container mt-4">

        <h1 class="mb-4">{{question.title}}</h1>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    <!-- User's Profile Picture -->
                    Vprašanje od:
                    <img src="{{questionPosterPicURL}}" alt="{{question.postedBy.username}}"
                        style="height: 40px; width: 40px; border-radius: 50%;">
                    {{question.postedBy.username}}
                </h5>

                <p class="card-text">{{question.description}}</p>
                <p class="card-text"><small class="text-muted">Objavljeno
                        {{question.postedDate}}
                        {{#if question.viewsCount}}
                        Views: {{question.viewsCount}}
                        {{/if}}
                    </small>
                </p>
                <div id="answerForm" style="display: none;" class="mt-4">
                    <form action="/answer/postAnswerMy" method="post"> <!-- Modify the action URL as needed -->
                        <input type="hidden" name="questionId" value="{{question._id}}">

                        <input type="hidden" name="redirectPath"
                            value="/question/activityQuestionDetail/{{question._id}}">

                        <div class="form-group">
                            <label for="answerContent">Tvoj odgovor:</label>
                            <textarea class="form-control" id="answerContent" name="answerContent" rows="4"
                                required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Objavi odgovor</button>
                        <button onclick="closeAnswerForm()" class="btn btn-secondary">Zapri</button>
                    </form>
                </div>
                <!--*****************************************************************************************************************-->
                <div id="commentForm" style="display: none;" class="mt-4">
                    <form action="/comment/postCommentMy" method="post">
                        <input type="hidden" name="questionId" value="{{question._id}}">
                        <div class="form-group">
                            <label for="commentContent">Tvoj komentar:</label>
                            <textarea class="form-control" id="commentContent" name="commentContent" rows="4"
                                required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Objavi komentar</button>
                        <button onclick="closeCommentForm()" class="btn btn-secondary">Zapri</button>
                    </form>
                </div>

                {{#if isAuthor}}

                <form action="/question/delete/{{question._id}}" method="post" onsubmit="return confirm('Are you sure you want to delete the question');">
                    <button type="submit" class="btn btn-danger">Izbriši vprašanje</button>
                </form>

                {{/if}}

                <div class="mt-4 text-right">
                    <button onclick="showAnswerForm()" class="btn btn-primary">Odgovori</button>
                    <button onclick="showCommentForm()" class="btn btn-primary">Komentiraj</button>
                    <a href="/user/myActivity" class="btn btn-secondary mx-2">Nazaj</a>

                </div>
            </div>
        </div>

        {{!-- Display only the latest comment --}}
        {{#if comments.length}}
        <div class="card mt-1 narrower-div">
            <div class="card-body bg-light">
                {{#with comments.[0]}} <!-- Display the first comment -->
                <div class="d-flex align-items-center mb-3">
                    <img src="{{postedBy.profilePicURL}}" alt="{{postedBy.username}}" class="rounded-circle"
                        style="height: 30px; width: 30px; object-fit: cover;">
                    <span class="ml-2">{{postedBy.username}}</span>
                </div>
                <p class="card-text">{{content}}</p>
                <p class="card-text text-muted"><small>Komentirano {{postedDate}}</small></p>

                {{#if isUserAuthor}}

                <form action="/comment/delete/{{this._id}}" method="post" onsubmit="return confirm('Are you sure you want to delete this comment');">
                    <button class="delete-comment-btn btn btn-danger" data-comment-id="{{this._id}}">Izbriši komentar</button>
                </form>


                {{/if}}

                {{/with}}
                {{#if comments.length}} <!-- Show only if there are more than one comment -->
                <div class="text-right mt-2">
                    <a href="#allComments" class="btn btn-outline-primary btn-sm" data-toggle="collapse"
                        aria-expanded="false" aria-controls="allComments">
                       Vsi komentarji
                    </a>
                </div>
                {{/if}}
            </div>
        </div>
        {{/if}}

        {{!-- Toggle for viewing all comments --}}
        {{#if comments.length}}
        <div class="collapse" id="allComments">
            {{#each comments}}
            {{#unless @first}} <!-- Skip the first comment as it is already displayed -->
            <div class="card mt-2 narrower-div">
                <div class="card-body bg-light">
                    <div class="d-flex align-items-center mb-3">
                        <img src="{{postedBy.profilePicURL}}" alt="{{postedBy.username}}" class="rounded-circle"
                            style="height: 30px; width: 30px; object-fit: cover;">
                        <span class="ml-2">{{postedBy.username}}</span>
                    </div>
                    <p class="card-text">{{content}}</p>
                    <p class="card-text text-muted"><small>Komentirano {{postedDate}}</small></p>
                    {{#if this.isUserAuthor}}

                    <form action="/comment/delete/{{this._id}}" method="post" onsubmit="return confirm('Are you sure you want to delete this comment');">
                        <button class="delete-comment-btn btn btn-danger" data-comment-id="{{this._id}}">Izbriši komentar</button>
                    </form>


                    {{/if}}
                </div>
            </div>
            {{/unless}}
            {{/each}}
        </div>
        {{/if}}


        <!-- Answers Section -->
        {{#if question.answers.length}}
        <div class="mt-5">
            <h4>Odgovori:</h4>
            {{#each question.answers}}
            <div class="card mt-3">
                <div class="card-body">
                    <!-- User Profile Picture and Name -->
                    <div class="d-flex align-items-center mb-3">
                        <img src="{{this.postedBy.profilePicURL}}" alt="{{this.postedBy.username}}"
                            class="rounded-circle" style="height: 30px; width: 30px; object-fit: cover;">
                        <span class="ml-2">{{this.postedBy.username}}</span>
                    </div>
                    <!-- Answer Content -->
                    <p>{{this.content}}</p>

                    <div class="voting-controls">
                        <form action="/answer/upvoteAnswerMy/{{this._id}}/upvote" method="post" class="vote-form">
                            <button type="submit" class="vote-button">
                                <i class="fas fa-arrow-up"></i>
                            </button>
                        </form>
                        <span class="vote-count">{{this.upvotes.length}}</span>
                        <form action="/answer/downvoteAnswerMy/{{this._id}}/downvote" method="post" class="vote-form">
                            <button type="submit" class="vote-button">
                                <i class="fas fa-arrow-down"></i>
                            </button>
                        </form>
                        <span class="vote-count">{{this.downvotes.length}}</span>
                    </div>
                    <!-- Date Posted -->
                    <p><small class="text-muted">Objavljeno {{this.postedDate}}</small></p>

                    {{#if ../isAuthor}}
                    <form action="/answer/markAsCorrect/{{this._id}}" method="post">
                        <input type="hidden" name="questionId" value="{{../question._id}}">
                        <button type="submit"
                            class="btn btn-sm {{#if this.isAccepted}}btn-danger{{else}}btn-info{{/if}}">
                            {{#if this.isAccepted}}Pravilno{{else}}Označi kot pravilno{{/if}}
                        </button>
                    </form>
                    {{/if}}

                    <div class="mt-4 text-right">
                        <button onclick="showCommentFormAnswer('{{this._id}}')" class="btn btn-primary">Komentiraj</button>
                    </div>

                    <div id="commentFormAnswer-{{this._id}}" class="mt-4" style="display: none;">
                        <form action="/comment/postAnswerCommentMy" method="post">
                            <input type="hidden" name="questionId" value="{{questionId}}">
                            <input type="hidden" name="answerId" value="{{this._id}}">
                            <div class="form-group">
                                <label for="commentContent-{{this._id}}">Tvoj komantar:</label>
                                <textarea class="form-control" id="commentContent-{{this._id}}" name="commentContent"
                                    rows="4" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Objavi komentar</button>
                            <button type="button" onclick="closeCommentFormAnswer('{{this._id}}')"
                                class="btn btn-secondary">Zapri</button>
                        </form>
                    </div>
                    <!-- Comments for the Answer -->
                    {{#if (lookup ../answerComments @index)}}
                    {{#with (lookup ../answerComments @index)}}
                    <!-- Display the first comment -->
                    {{#if this.[0]}}
                    <div class="card mt-2 narrower-div">
                        <div class="card-body bg-light">
                            <div class="d-flex align-items-center mb-3">
                                <img src="{{this.[0].postedBy.profilePicURL}}" alt="{{this.[0].postedBy.username}}"
                                    class="rounded-circle" style="height: 30px; width: 30px; object-fit: cover;">
                                <span class="ml-2">{{this.[0].postedBy.username}}</span>
                            </div>
                            <p class="card-text">{{this.[0].content}}</p>
                            <p class="card-text text-muted"><small>Komentirano {{this.[0].postedDate}}</small></p>
                            {{#if this.[0].isUserAuthor}} <!-- Here is where the issue might be -->

                            <form action="/comment/delete/{{this.[0]._id}}" method="post" onsubmit="return confirm('Are you sure you want to delete this comment');">
                                <button class="delete-comment-btn btn btn-danger"
                                    data-comment-id="{{this.[0]._id}}">Izbriši komentar</button>
                            </form>

                            {{/if}}

                            {{#if this.[1]}}
                            <div class="text-right mt-2">
                                <button class="btn btn-outline-primary btn-sm" data-toggle="collapse"
                                    data-target="#allCommentsAnswer-{{@../key}}">
                                    Vsi komentarji
                                </button>
                            </div>
                            {{/if}}
                        </div>
                        <!-- Button to toggle viewing all comments -->
                    </div>
                    {{/if}}

                    <!-- Hidden section for all comments -->
                    <div id="allCommentsAnswer-{{@../key}}" class="collapse">
                        {{#each this}}
                        {{#unless @first}}
                        <div class="card mt-2 narrower-div">
                            <div class="card-body bg-light">
                                <div class="d-flex align-items-center mb-3">
                                    <img src="{{this.postedBy.profilePicURL}}" alt="{{this.postedBy.username}}"
                                        class="rounded-circle" style="height: 30px; width: 30px; object-fit: cover;">
                                    <span class="ml-2">{{this.postedBy.username}}</span>
                                </div>
                                <p class="card-text">{{this.content}}</p>
                                <p class="card-text text-muted"><small>Komentirano {{this.postedDate}}</small></p>

                                {{#if this.isUserAuthor}}

                                <form action="/comment/delete/{{this._id}}" method="post" onsubmit="return confirm('Are you sure you want to delete this comment');">
                                    <button class="delete-comment-btn btn btn-danger"
                                        data-comment-id="{{this._id}}">Izbriši komentar</button>
                                </form>

                                {{/if}}
                            </div>
                        </div>
                        {{/unless}}
                        {{/each}}
                    </div>
                    {{/with}}
                    {{else}}
                    <p>Brez komentarjev.</p>
                    {{/if}}

                    <div class="text-right mt-2">
                        {{#if this.isUserAuthor}}
                        <form action="/answer/delete/{{this._id}}" method="post" onsubmit="return confirm('Are you sure you want to delete this answer');">
                            <button type="submit" class="btn btn-danger">Izbriši odgovor</button>
                        </form>
                        {{/if}}
                    </div>

                </div>
            </div>
            {{/each}}
        </div>
        {{else}}
        <div class="mt-4 alert alert-info">Brez odgovorov.</div>
        {{/if}}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>

        var questionId;

        function showAnswerForm() {
            document.getElementById('answerForm').style.display = 'block';
        }

        function closeAnswerForm() {
            document.getElementById('answerContent').value = '';
            document.getElementById('answerForm').style.display = 'none';
        }

        function showCommentForm() {
            document.getElementById('commentForm').style.display = 'block';
        }

        function closeCommentForm() {
            document.getElementById('commentContent').value = '';
            document.getElementById('commentForm').style.display = 'none';
        }

        function goBack() {
            window.history.back();
        }

        document.addEventListener("DOMContentLoaded", function (event) {
            var scrollpos = localStorage.getItem('scrollpos');
            if (scrollpos) window.scrollTo(0, scrollpos);
        });

        window.onbeforeunload = function (e) {
            localStorage.setItem('scrollpos', window.scrollY);
        };

        function showCommentFormAnswer(answerId, questionId) {
            setQuestionId(questionId);
            document.getElementById('commentFormAnswer-' + answerId).style.display = 'block';
        }

        function closeCommentFormAnswer(answerId) {
            document.getElementById('commentFormAnswer-' + answerId).style.display = 'none';
        }

        function setQuestionId(id) {
            questionId = id;
        }


        document.addEventListener('DOMContentLoaded', function () {
            document.querySelectorAll('.delete-comment-btn').forEach(button => {
                button.addEventListener('click', function (e) {
                    e.preventDefault();
                    var commentId = this.dataset.commentId;
                    fetch('/comment/' + commentId, {
                        method: 'DELETE',
                    })
                        .then(response => {
                            if (response.ok) {
                                // Comment deleted, remove it from the DOM or redirect
                                console.log('Comment deleted');
                                window.location.reload(); // Reload the page
                            }
                        })
                        .catch(error => console.error('Error:', error));
                });
            });
        });

        function confirmDeletion(event) {
            var confirmation = confirm("Are you sure you want to delete this item?");
            if (!confirmation) {
                event.preventDefault(); // Prevent the form from submitting if user clicks 'Cancel'
            }
        }

        // Attach the function to your delete button
        var deleteButtons = document.querySelectorAll('.delete-button');
        deleteButtons.forEach(function (button) {
            button.addEventListener('click', confirmDeletion);
        });

    </script>
</body>

</html>