<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hot Questions</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .profile-pic {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            object-fit: cover;
        }

        .navbar-custom {
            padding: 10px 0;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-custom">
        <div class="container-fluid">
            {{#if user}}
            <div class="user-info">
                <img src="{{photoPath}}" alt="{{user.username}}" class="profile-pic">
                <span>Dobrodošel, {{user.username}}</span>
            </div>
            {{/if}}
    <button onclick="goBack()" class="btn btn-secondary">Nazaj</button>
        </div>
    </nav>

    <div class="container">
        <div class="text-center my-4">
            <h1>Vroča vprašanja na "Reddit-u from Wish"</h1>
        </div>

        <div class="list-group mt-3">
            {{#each hotQuestions}}
            <a href="/question/questionDetail/{{this._id}}" class="list-group-item list-group-item-action">
                <h5>{{this.title}}</h5>
                <!-- You can add more question details here if needed -->
            </a>
            {{/each}}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>

</html>