<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">Uredi Profil</h1>
            </div>
            <div class="card-body">
                {{#if errorMessage}}
                <div class="alert alert-danger" role="alert">
                    {{errorMessage}}
                </div>
                {{/if}}
                <img src="{{photoPath}}" alt="Profile Photo" style="max-width: 200px;">
                <form action="/user/updatePhoto" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="photo">Spremeni profilno sliko:</label>
                        <input type="file" class="form-control-file" id="photo" name="photo">
                    </div>
                    <button type="submit" class="btn btn-primary">Izberi sliko</button>
                </form>
                <form action="/user/update" method="post">
                    <div class="form-group">
                        <label for="username">Novo uporabniško ime:</label>
                        <input type="text" class="form-control" id="username" name="username" value="{{username}}">
                    </div>
                    <div class="form-group">
                        <label for="email">Novi email:</label>
                        <input type="text" class="form-control" id="email" name="email" value="{{email}}">
                    </div>
                    <!-- Add any other fields you want to be editable -->
                    <button type="submit" class="btn btn-primary">Posodobi profil</button>
                </form>
                <br>
                {{#if errorMessagePswd}}
                <div class="alert alert-danger" role="alert">
                    {{errorMessagePswd}}
                </div>
                {{/if}}
                <form action="/user/updatePassword" method="post">
                    <div class="form-group">
                        <label for="oldPassword">Staro geslo:</label>
                        <input type="password" class="form-control" id="oldPassword" name="oldPassword">
                    </div>
                    <div class="form-group">
                        <label for="newPassword">Novo geslo:</label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword">
                    </div>
                    <div class="form-group">
                        <label for="newPasswordRepeat">Ponovi novo geslo:</label>
                        <input type="password" class="form-control" id="newPasswordRepeat" name="newPasswordRepeat">
                    </div>
                    <!-- Add any other fields you want to be editable -->
                    <button type="submit" class="btn btn-primary">Posodobi geslo</button>
                </form>
                <div class="text-center mt-4">
                    <a href="/user/profile" class="btn btn-primary mx-2">Nazaj</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>

</html>