<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">Uporabniški profil</h1>
            </div>
            {{#if successMessage}}
            <div class="alert alert-success" role="alert">
                Geslo uspešno posodobljeno!
            </div>
            {{/if}}
            <div class="card-body">
                <div class="card-title">
                    <img src="{{photoPath}}" alt="Profile Photo" style="max-width: 200px;">
                </div>
                <h3 class="card-title">Ime:</h3>
                <p class="card-text">{{username}}</p>
                <h3 class="card-title">Mail:</h3>
                <p class="card-text">{{email}}</p>
                <div class="card-footer">
    <h4>Statistika</h4>
    <ul>
        <li>Število objavljenih vprašanj: {{questionCount}}</li>
        <li>Število objavljenih odgovorov: {{answerCount}}</li>
        <li>Število objavljenih komentarjev: {{commentCount}}</li>
        <li>Skupno število upvotov: {{totalUpvotes}}</li>
        <li>Skupno število downvotov: {{totalDownvotes}}</li>
    </ul>
</div>
                <div class="text-center mt-4">
                    <a class="btn btn-danger" href="/logout">Odjava</a>
                    <a class="btn btn-primary" href="/">Nazaj na glavno stran</a>
                    <a class="btn btn-primary" href="/user/editProfile">Uredi profil</a>
                    <a class="btn btn-primary" href="/user/myActivity">Moje objave</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>