<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .profile-pic {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            object-fit: cover;
        }

        .navbar-custom {
            padding: 10px 0;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-custom">
        <div class="container-fluid">
            {{#if user}}
            <a class="navbar-brand" href="/">Dobrodošel, {{user.username}}</a>
            <div class="d-flex ml-auto">
                <a href="/question/showHotQuestions" class="nav-link">Vroča sekcija</a>
                <a href="/question/postQuestion" class="nav-link">Objavi vprašanje</a>
                <a href="/user/profile" class="nav-link">
                    <img src="{{photoPath}}" alt="Profile" class="profile-pic">
                </a>
                <a href="/user/logout" class="nav-link">Izpis</a>
            </div>
            {{else}}
            <a class="navbar-brand" href="/">Dobrodošel!</a>
            <div class="d-flex ml-auto">
                <a href="/user/login" class="nav-link">Vpis</a>
                <a href="/user/register" class="nav-link">Registracija</a>
            </div>
            {{/if}}
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center my-4">
                    <h1>Dobrodošel na "Reddit from Wish"!</h1>
                    <!-- Additional content can go here -->
                </div>
            </div>
        </div>
    </div>
    <div class="list-group mt-3">
        {{#if user}}

        <div class="list-group mt-3">
            {{#each questions}}
            <a href="/question/questionDetail/{{this._id}}" class="list-group-item list-group-item-action">
                {{this.title}}
            </a>
            {{/each}}
        </div>
        {{else}}

        {{#each questions}}
        <a href="{{#if user}}/questions/{{this._id}}{{else}}#{{/if}}"
            class="list-group-item list-group-item-action disabled">
            {{this.title}}
        </a>
        {{/each}}
        {{/if}}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>